.intro {
  max-width: 690px;
  margin: 0 442px 92px 148px;
}

@media screen and (max-width: 1279px) {
  .intro{
    margin: 0 286px 92px 48px;
    width: calc(100% - (286px + 48px));
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 0 24px 88px;
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin: 0 16px 64px;
    width: calc(100% - 16px*2);
  }
}